<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Querying in notebooks
© ExploreAI Academy

In this exercise, we will query a sample SQLite database file for a retail company called Northwind to gain some insight into their data. Ensure that you have downloaded the database file Northwind.db.

## Learning objectives

By the end of this train, you should:
- Use basic SELECT statements to retrieve specific data from a database.
- Use the WHERE clause to filter data based on certain conditions.
- Combine multiple conditions using logical operators such as AND and OR.
- Use different logical operators to get or exclude specific values in a table, including the use of IN for multiple values.

First, let's load our sample database:

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

In [2]:
# Load the Northwind database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///Northwind.db

Here is a view of all of our tables in the database:

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Northwind_ERD.png"  style="width:500px";/>
<br>
<br>
    <em>Figure 1: Northwind ERD</em>
</div>

## Exercise

Run the necessary queries that will provide us with the following information. Compare your queries with the solutions at the end of this notebook.

### Exercise 1

Find the names of all customers from Germany in the Northwind database.

In [4]:
%%sql 
SELECT 
    CompanyName
FROM 
    Customers;

 * sqlite:///Northwind.db
Done.

[('Alfreds Futterkiste',),
 ('Ana Trujillo Emparedados y helados',),
 ('Antonio Moreno Taquera',),
 ('Around the Horn',),
 ('Berglunds snabbkp',),
 ('Blauer See Delikatessen',),
 ('Blondesddsl pre et fils',),
 ('Blido Comidas preparadas',),
 ("Bon app'",),
 ('Bottom-Dollar Markets',),
 ("B's Beverages",),
 ('Cactus Comidas para llevar',),
 ('Centro comercial Moctezuma',),
 ('Chop-suey Chinese',),
 ('Comrcio Mineiro',),
 ('Consolidated Holdings',),
 ('Drachenblut Delikatessen',),
 ('Du monde entier',),
 ('Eastern Connection',),
 ('Ernst Handel',),
 ('Familia Arquibaldo',),
 ('FISSA Fabrica Inter. Salchichas S.A.',),
 ('Folies gourmandes',),
 ('Folk och f HB',),
 ('Frankenversand',),
 ('France restauration',),
 ('Franchi S.p.A.',),
 ('Furia Bacalhau e Frutos do Mar',),
 ('Galera del gastrnomo',),
 ('Godos Cocina Tpica',),
 ('Gourmet Lanchonetes',),
 ('Great Lakes Food Market',),
 ('GROSELLA-Restaurante',),
 ('Hanari Carnes',),
 ('HILARION-Abastos',),
 ('Hungry Coyote Import Store',),
 ('Hungry Owl All-Night Grocers',),
 ('Island Trading',),
 ('Kniglich Essen',),
 ("La corne d'abondance",),
 ("La maison d'Asie",),
 ('Laughing Bacchus Wine Cellars',),
 ('Lazy K Kountry Store',),
 ('Lehmanns Marktstand',),
 ("Let's Stop N Shop",),
 ('LILA-Supermercado',),
 ('LINO-Delicateses',),
 ('Lonesome Pine Restaurant',),
 ('Magazzini Alimentari Riuniti',),
 ('Maison Dewey',),
 ('Mre Paillarde',),
 ('Morgenstern Gesundkost',),
 ('North/South',),
 ('Ocano Atlntico Ltda.',),
 ('Old World Delicatessen',),
 ('Ottilies Kseladen',),
 ('Paris spcialits',),
 ('Pericles Comidas clsicas',),
 ('Piccolo und mehr',),
 ('Princesa Isabel Vinhos',),
 ('Que Delcia',),
 ('Queen Cozinha',),
 ('QUICK-Stop',),
 ('Rancho grande',),
 ('Rattlesnake Canyon Grocery',),
 ('Reggiani Caseifici',),
 ('Ricardo Adocicados',),
 ('Richter Supermarkt',),
 ('Romero y tomillo',),
 ('Sant Gourmet',),
 ('Save-a-lot Markets',),
 ('Seven Seas Imports',),
 ('Simons bistro',),
 ('Spcialits du monde',),
 ('Split Rail Beer & Ale',),
 ('Suprmes dlices',),
 ('The Big Cheese',),
 ('The Cracker Box',),
 ('Toms Spezialitten',),
 ('Tortuga Restaurante',),
 ('Tradio Hipermercados',),
 ("Trail's Head Gourmet Provisioners",),
 ('Vaffeljernet',),
 ('IT',),
 ('IT',),
 ('Victuailles en stock',),
 ('Vins et alcools Chevalier',),
 ('Die Wandernde Kuh',),
 ('Wartian Herkku',),
 ('Wellington Importadora',),
 ('White Clover Markets',),
 ('Wilman Kala',),
 ('Wolski  Zajazd',)]

### Exercise 2


Find all products in the Northwind database that have a unit price greater than 30 and are discontinued. 

Note: The product has been discontinued when the column `Discontinued` is equal to  1.

In [6]:
%%sql 
SELECT 
    ProductName
FROM 
    products
WHERE
    UnitPrice>30
    AND
    Discontinued=1;

 * sqlite:///Northwind.db
Done.

[('Mishi Kobe Niku',),
 ('Alice Mutton',),
 ('Rssle Sauerkraut',),
 ('Thringer Rostbratwurst',),
 ('Perth Pasties',)]

### Exercise 3


Find the contact names and phone numbers of customers from either 'USA' or 'Canada'.

In [9]:
%%sql 
SELECT 
    ContactName,Phone,Country
FROM 
    Customers
WHERE
    Country IN("USA","Canada")

 * sqlite:///Northwind.db
Done.

[('Elizabeth Lincoln', '(604) 555-4729', 'Canada'),
 ('Howard Snyder', '(503) 555-7555', 'USA'),
 ('Yoshi Latimer', '(503) 555-6874', 'USA'),
 ('Yoshi Tannamuri', '(604) 555-3392', 'Canada'),
 ('John Steel', '(509) 555-7969', 'USA'),
 ('Jaime Yorres', '(415) 555-5938', 'USA'),
 ('Fran Wilson', '(503) 555-9573', 'USA'),
 ('Jean Fresnire', '(514) 555-8054', 'Canada'),
 ('Rene Phillips', '(907) 555-7584', 'USA'),
 ('Paula Wilson', '(505) 555-5939', 'USA'),
 ('Jose Pavarotti', '(208) 555-8097', 'USA'),
 ('Art Braunschweiger', '(307) 555-4680', 'USA'),
 ('Liz Nixon', '(503) 555-3612', 'USA'),
 ('Liu Wong', '(406) 555-5834', 'USA'),
 ('Helvetius Nagy', '(206) 555-8257', 'USA'),
 ('Karl Jablonski', '(206) 555-4112', 'USA')]

### Exercise 4

From the 'Orders' table, select all orders that were placed by 'VINET', 'QUICK' or 'SUPRD' and were shipped via shipper 1 or 2.

In [16]:
%%sql
SELECT
    *
FROM 
    Orders
WHERE
    CustomerID IN("VINET","QUICK","SUPRD")
    AND 
        ShipVia IN("1","2")

 * sqlite:///Northwind.db
Done.

[(10252, 'SUPRD', 4, '1996-07-09 00:00:00', '1996-08-06 00:00:00', '1996-07-11 00:00:00', 2, 51.3, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium'),
 (10274, 'VINET', 6, '1996-08-06 00:00:00', '1996-09-03 00:00:00', '1996-08-16 00:00:00', 1, 6.01, 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', None, '51100', 'France'),
 (10285, 'QUICK', 1, '1996-08-20 00:00:00', '1996-09-17 00:00:00', '1996-08-26 00:00:00', 2, 76.83, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10295, 'VINET', 2, '1996-09-02 00:00:00', '1996-09-30 00:00:00', '1996-09-10 00:00:00', 2, 1.15, 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', None, '51100', 'France'),
 (10302, 'SUPRD', 4, '1996-09-10 00:00:00', '1996-10-08 00:00:00', '1996-10-09 00:00:00', 2, 6.27, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium'),
 (10313, 'QUICK', 2, '1996-09-24 00:00:00', '1996-10-22 00:00:00', '1996-10-04 00:00:00', 2, 1.96, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10345, 'QUICK', 2, '1996-11-04 00:00:00', '1996-12-02 00:00:00', '1996-11-11 00:00:00', 2, 249.06, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10361, 'QUICK', 1, '1996-11-22 00:00:00', '1996-12-20 00:00:00', '1996-12-03 00:00:00', 2, 183.17, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10418, 'QUICK', 4, '1997-01-17 00:00:00', '1997-02-14 00:00:00', '1997-01-24 00:00:00', 1, 17.55, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10475, 'SUPRD', 9, '1997-03-14 00:00:00', '1997-04-11 00:00:00', '1997-04-04 00:00:00', 1, 68.52, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium'),
 (10515, 'QUICK', 2, '1997-04-23 00:00:00', '1997-05-07 00:00:00', '1997-05-23 00:00:00', 1, 204.47, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10527, 'QUICK', 7, '1997-05-05 00:00:00', '1997-06-02 00:00:00', '1997-05-07 00:00:00', 1, 41.9, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10549, 'QUICK', 5, '1997-05-27 00:00:00', '1997-06-10 00:00:00', '1997-05-30 00:00:00', 1, 171.24, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10658, 'QUICK', 4, '1997-09-05 00:00:00', '1997-10-03 00:00:00', '1997-09-08 00:00:00', 1, 364.15, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10691, 'QUICK', 2, '1997-10-03 00:00:00', '1997-11-14 00:00:00', '1997-10-22 00:00:00', 2, 810.05, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10737, 'VINET', 2, '1997-11-11 00:00:00', '1997-12-09 00:00:00', '1997-11-18 00:00:00', 2, 7.79, 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', None, '51100', 'France'),
 (10745, 'QUICK', 9, '1997-11-18 00:00:00', '1997-12-16 00:00:00', '1997-11-27 00:00:00', 1, 3.52, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10788, 'QUICK', 1, '1997-12-22 00:00:00', '1998-01-19 00:00:00', '1998-01-19 00:00:00', 2, 42.7, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10841, 'SUPRD', 5, '1998-01-20 00:00:00', '1998-02-17 00:00:00', '1998-01-29 00:00:00', 2, 424.3, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium'),
 (10845, 'QUICK', 8, '1998-01-21 00:00:00', '1998-02-04 00:00:00', '1998-01-30 00:00:00', 1, 212.98, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10865, 'QUICK', 2, '1998-02-02 00:00:00', '1998-02-16 00:00:00', '1998-02-12 00:00:00', 1, 348.14, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10878, 'QUICK', 4, '1998-02-10 00:00:00', '1998-03-10 00:00:00', '1998-02-12 00:00:00', 1, 46.69, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10938, 'QUICK', 3, '1998-03-10 00:00:00', '1998-04-07 00:00:00', '1998-03-16 00:00:00', 2, 31.89, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10962, 'QUICK', 8, '1998-03-19 00:00:00', '1998-04-16 00:00:00', '1998-03-23 00:00:00', 2, 275.79, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10991, 'QUICK', 1, '1998-04-01 00:00:00', '1998-04-29 00:00:00', '1998-04-07 00:00:00', 1, 38.51, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (10996, 'QUICK', 4, '1998-04-02 00:00:00', '1998-04-30 00:00:00', '1998-04-10 00:00:00', 2, 1.12, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (11021, 'QUICK', 3, '1998-04-14 00:00:00', '1998-05-12 00:00:00', '1998-04-21 00:00:00', 1, 297.18, 'QUICK-Stop', 'Taucherstrae 10', 'Cunewalde', None, '1307', 'Germany'),
 (11035, 'SUPRD', 2, '1998-04-20 00:00:00', '1998-05-18 00:00:00', '1998-04-24 00:00:00', 2, 0.17, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium'),
 (11038, 'SUPRD', 1, '1998-04-21 00:00:00', '1998-05-19 00:00:00', '1998-04-30 00:00:00', 2, 29.59, 'Suprmes dlices', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium')]

### Challenge question

Find the employees in the Northwind database who are either Sales Representatives or Sales Managers and are based in London.

In [26]:
%%sql
SELECT 
    LastName,FirstName,Title,City
FROM employees
WHERE 
    Title IN("Sales Representative","Sales Manager")
    AND 
    City="London"
    ;

 * sqlite:///Northwind.db
Done.

[('Buchanan', 'Steven', 'Sales Manager', 'London'),
 ('Suyama', 'Michael', 'Sales Representative', 'London'),
 ('King', 'Robert', 'Sales Representative', 'London'),
 ('Dodsworth', 'Anne', 'Sales Representative', 'London')]

## Solutions

### Exercise 1

In [ ]:
%%sql
SELECT 
    ContactName 
FROM 
    Customers 
WHERE 
    Country = 'Germany';

### Exercise 2

In [ ]:
%%sql

SELECT 
    ProductName, Discontinued
FROM 
    Products 
WHERE 
    UnitPrice > 30 
    AND Discontinued = 1;

### Exercise 3

In [ ]:
%%sql

SELECT 
    ContactName, 
    Phone 
FROM 
    Customers 
WHERE 
    Country IN ('USA', 'Canada');

### Exercise 4

In [ ]:
%%sql

SELECT 
    * 
FROM 
    Orders 
WHERE 
    CustomerID IN ('VINET', 'QUICK', 'SUPRD')
    AND ShipVia IN (1,2);

### Challenge question

In [24]:
%%sql

SELECT 
    FirstName, 
    LastName 
FROM 
    Employees 
WHERE 
    (Title = 'Sales Representative' OR Title = 'Sales Manager') 
    AND City = 'London';

 * sqlite:///Northwind.db
Done.

[('Steven', 'Buchanan'),
 ('Michael', 'Suyama'),
 ('Robert', 'King'),
 ('Anne', 'Dodsworth')]

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>